*{
margin: auto;
padding: 0;
font-family: 'Poppins',sans-serif;
box-sizing: border-box;
}
header {
    display:flex;
    justify-content: space-between;
    background-color: violet;
    
}
.container{
 width: 100%;
 min-height: 100vh;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
 background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHptM2NkbndhMXlnazQ4d3A4d2dsM2k5OXI2bXhxa3Bnanp5eXR6ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iqatr9kJTDezD9YLpZ/giphy.gif);
 padding: 10px;
}

.to-do-app{
 width: 80%;
 min-width: 540px;
background: #ffffff;
margin:50px auto 20px;
padding: 40px 30px 70px;
 border-radius: 10px;
 border-color: violet;
 border-style: solid;
}
.to-do-app h2{
    color: #003765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: yellow;
    outline: blue;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: black;
    outline: none;
    padding: 16px 50px;
    background:violet;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/images/unchecked.jpeg);
    background-size: cover;

background-repeat: no-repeat;

    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked:before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/images/checked.jpeg);
    background-size:contain;
    background-repeat: no-repeat;

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height:40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}


